body {
    background-color: whitesmoke;
    font-family: Quicksand;
}

.header {
    background-color:darkseagreen;
    padding: 15px 50px;
    font-weight: 700;
}

#timer {
    float: right;
}

#highscore:hover {
    cursor:pointer;
    color:olive;
}

.eagle{
    margin-top: 30px;
    background-color: transparent;
}

.eagle h1 {
    font-size: 80px;
}

.start-quiz-btn {
    clear: both;
    float: right;
    margin: 30px;
}

.quiz-intro {
    float: right;
}

.quiz-section {
    margin-left: auto;
    margin-top: 95px;
    display: none;
}

h1 {
    font-weight: 900;
}

.btn {
    display: block !important;
    margin: 15px 0;
    text-align: left;
    background-color:lawngreen;
    border: none;
    color: black;
    font-weight: 500;
}

.btn:hover {
    background-color:lightgreen;
    color: black;
}

.quiz {
    display: none;
}

.top-performers {
    display: none;
}

#initials:focus {
    border: none!important;
}

.margin {
    margin: 100px 30px;
}

.highscores-section {
    display: none;
}

.highscore-btn {
    display: inline!important;
}